.library-table-title {
  margin: 16px 0 0 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.library-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  gap: 16px;
  margin: 16px 32px 32px 32px;
}

.book {
  box-shadow: var(--shadow);
  border-radius: 4px;
  
  background-color: var(--color-sky-50);
  color: var(--color-stone-900);
  font-family: roboto;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  padding-bottom: 12px;
}

.remove-book-button {
  border: 2px solid var(--color-red-700);
  background: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  border-radius: 4px;
  color: var(--color-red-700);
  font-weight: 500;
  padding: 6px 20px;
  cursor: pointer;
  transition: all 0.15s;
  margin-right: 16px;
}

.remove-book-button:hover {
  background-color: var(--color-red-700);
  color: var(--color-sky-50);
}

.book-form-active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: var(--color-sky-50);
  padding: 32px;
  border-radius: 6px;
}

.book-form-active legend {
  align-self: center;
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.book-form-active input {
  border: none;
  padding:12px 12px 12px 16px;
  font-size: 18px;
}

.book-form-active input::placeholder {
  color: rgb(160, 160, 160);
  font-size: 18px;
}

.book-form-active button {
  border: none;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  padding: 14px 0 14px 0;
  border-radius: 6px;
  color: var(--color-stone-900);
  border: 2px solid var(--color-stone-900);
  background:none;
  cursor: pointer;
  transition: all 0.15s;
}
.book-form-active button:hover {
  color: var(--color-sky-50);
  background-color: var(--color-stone-900);
}

@keyframes append-animate {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;
    
  }
}

.book-form-active {
  animation: append-animate 0.2s linear;
}


.overlay-active {
  animation: append-animate 0.2s linear;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  width: 100%;
}


.book-form-inactive {
 display: none;
}
.overlay-inactive {
  display:none; 
}

.read-button-red {
  background: var(--color-red-700);
  border: 2px solid var(--color-red-700);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  border-radius: 4px;
  color: var(--color-sky-50);
  font-weight: 500;
  padding: 6px;
  width: 120px;
  cursor: pointer;
  transition: all 0.15s;
  margin-left: 16px;
}

.read-button-green {
  background: var(--color-green-700);
  border: 2px solid var(--color-green-700);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  border-radius: 4px;
  color: var(--color-sky-50);
  font-weight: 500;
  padding: 6px;
  width: 120px;
  cursor: pointer;
  transition: all 0.15s;
  margin-left: 16px;
}



